<mat-toolbar class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<span><img alt="Product name" src="assets/images/ey-logo-black.png" style="height: 3.2rem;width: 3.5rem;" /></span>
	<h1 class="product-name">ProdX</h1>
	<span class="spacer"></span>

	<!-- Notification Panel -->
	<button mat-icon-button class="icon-button-large" [matMenuTriggerFor]="notification">
		<mat-icon mat-add_alert-icon matBadge="15" aria-hidden="false" matBadgeColor="warn">notifications</mat-icon>
	</button>
	<mat-menu #notification="matMenu" class="noti-menu">
		<ng-container *ngFor="let noti of notificationArray">
			<div mat-menu-item>
				<div class="noti-wrapper">
					<div class="noti-heading">Heading</div>
					<div class="noti-body">
						<div class="noti-msg">This is a sample notification.</div>
						<div class="noti-time">12:34</div>
					</div>
				</div>
			</div>




			<!-- <div class="noti-item" mat-menu-item>
				<div class="noti-content">
					<div class="noti-title">
						{{noti.title}}
					</div>
					<div class="noti-msg">
						{{noti.msg}}
					</div>
					
				</div>
			</div> -->
			<mat-divider></mat-divider>

			<!-- <ng-container *ngIf="notificationArray.length>0">
				<button *ngFor="let noti of notificationArray;let i = index" class="noti-item" mat-menu-item>
					
					<div class="noti-content">
						<div class="noti-title">
							{{noti.title}}
						</div>
						<div class="noti-msg">
							{{noti.msg}}
						</div>
						
					</div>
					<button mat-icon-button>
						<mat-icon>delete</mat-icon>
					</button>
					
				</button>
			</ng-container> -->
		</ng-container>

	</mat-menu>
	<!-- -------------------- -->

	<!-- Profile panel -->
	<button mat-icon-button class="icon-button-large" [matMenuTriggerFor]="profile">
		<mat-icon>account_circle</mat-icon>
	</button>
	<mat-menu #profile="matMenu" class="profile-menu">
		<button mat-menu-item>
			<mat-icon>person</mat-icon>
			<span>Profile</span>
		</button>
		<button mat-menu-item>
			<mat-icon>app_registration</mat-icon>
			<span>Register</span>
		</button>
		<button mat-menu-item (click)="openDialog()">
			<mat-icon>logout</mat-icon>
			<span>Logout</span>
		</button>
	</mat-menu>

	<!-- ------------------ -->


</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
		(mouseleave)="mouseleave()">
		<div class="link-wrapper" routerLink="/main/product/template-management" [routerLinkActive]="'is-active'">
			<button mat-button [ngClass]="isExpanded || isShowing ? 'menuButtonExpanded': 'menuButtonCollapse'">
				<mat-icon>design_services</mat-icon>
				<span *ngIf="isExpanded || isShowing">Template Management</span>
			</button>
		</div>


		<!-- <mat-nav-list>
			<mat-list-item  class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Template Management</span>
				<mat-icon mat-library_add_icon>library_add</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
		<!-- </mat-list-item> -->
		<!-- <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="...">Submenu Item 1</a>
				<a mat-list-item href="...">Submenu Item 2</a>
				<mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item>SubSubmenu Item 1</mat-list-item>
					<mat-list-item>SubSubmenu Item 2</mat-list-item>
				</div>
			</div> -->

		<div class="link-wrapper" routerLink="/main/product/product-management" [routerLinkActive]="'is-active'">
			<button mat-button [ngClass]="isExpanded || isShowing ? 'menuButtonExpanded': 'menuButtonCollapse'">
				<mat-icon>inventory_2</mat-icon>
				<span *ngIf="isExpanded || isShowing">Product Management</span>
			</button>
		</div>

		<div class="link-wrapper">
			<button mat-button [ngClass]="isExpanded || isShowing ? 'menuButtonExpanded': 'menuButtonCollapse'">
				<mat-icon>edit_square</mat-icon>
				<span *ngIf="isExpanded || isShowing">Modify a Product</span>
			</button>
		</div>

		<div class="link-wrapper">
			<button mat-button [ngClass]="isExpanded || isShowing ? 'menuButtonExpanded': 'menuButtonCollapse'">
				<mat-icon>quiz</mat-icon>
				<span *ngIf="isExpanded || isShowing">FAQ</span>
			</button>
		</div>

		<div class="link-wrapper">
			<button mat-button [ngClass]="isExpanded || isShowing ? 'menuButtonExpanded': 'menuButtonCollapse'">
				<mat-icon>monitoring</mat-icon>
				<span *ngIf="isExpanded || isShowing">Reports & Anayltics</span>
			</button>
		</div>

		<div class="link-wrapper">
			<button mat-button [ngClass]="isExpanded || isShowing ? 'menuButtonExpanded': 'menuButtonCollapse'">
				<mat-icon mat-help-icon>help</mat-icon>
				<span *ngIf="isExpanded || isShowing">Help and Support</span>
			</button>
		</div>
		<mat-divider class="sidenav-divider"></mat-divider>

		<mat-nav-list>
			<button mat-button (click)="showSubmenu = !showSubmenu"
				[ngClass]="isExpanded || isShowing ? 'menuButtonExpanded': 'menuButtonCollapse'">
				<mat-icon>drafts</mat-icon>
				<span *ngIf="isExpanded || isShowing">My Drafts</span>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}"
					*ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</button>

			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="...">Draft 1</a>
				<a mat-list-item href="...">Draft 2</a>
				<!-- <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item>SubSubmenu Item 1</mat-list-item>
					<mat-list-item>SubSubmenu Item 2</mat-list-item>
				</div> -->
			</div>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
	<!-- <div class="example-sidenav-content">
		Main content that resizes properly
	</div> -->

</mat-sidenav-container>