<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="product-name">ProdX</h1>
  <span class="spacer"></span>

  <mat-form-field class="search-bar">
    <input matInput placeholder="Search">
  </mat-form-field>
    <button mat-icon-button  class="product-name">
      <mat-icon mat-add_alert-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
    </button>
    <button mat-icon-button  class="product-name">
      <mat-icon>account_circle</mat-icon>
    </button>


</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item  class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Template Management</span>
				<mat-icon mat-library_add_icon>library_add</mat-icon>
				<!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
			</mat-list-item>
			<!-- <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="...">Submenu Item 1</a>
				<a mat-list-item href="...">Submenu Item 2</a>
				<mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item>SubSubmenu Item 1</mat-list-item>
					<mat-list-item>SubSubmenu Item 2</mat-list-item>
				</div>
			</div> -->

      <mat-list-item  class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Product Management</span>
				<mat-icon mat-note-icon>note</mat-icon>
				<!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
			</mat-list-item>
      <mat-list-item  class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Modify a Product</span>
				<mat-icon mat-library_add_icon>library_add</mat-icon>
				<!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
			</mat-list-item>
      <mat-list-item  class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">FAQ</span>
				<mat-icon mat-help-icon>help</mat-icon>
				<!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
			</mat-list-item>
      <mat-list-item  class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Reports & Anayltics</span>
				<mat-icon mat-assistant-icon>assistant</mat-icon>
				<!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
			</mat-list-item>
      <mat-list-item  class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Help and Support</span>
				<mat-icon mat-help-icon>help</mat-icon>
				<!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
			</mat-list-item>

		</mat-nav-list>
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">My Drafts</span>
				<mat-icon mat-collections_bookmark-icon>collections_bookmark</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
      	<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="...">Draft 1</a>
				<a mat-list-item href="...">Draft 2</a>
				<!-- <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item>SubSubmenu Item 1</mat-list-item>
					<mat-list-item>SubSubmenu Item 2</mat-list-item>
				</div> -->
			</div>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
		Main content that resizes properly
	</div>

</mat-sidenav-container>

