<!-- <div class="login-container">
    <div class="login-right">
        <div class="login-info">
          <img src="assets/images/ey-logo-black.png" alt="Dashboard example">
        </div>
      </div>
    <div class="login-left">


    </div>

  </div> -->

  <div class="container">
    <mat-card class="login-card">
      <img src="assets/images/ey-logo-black.png" alt="Dashboard example" class="logo">

  <br>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="yourmail@gmail.com">
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="******">
      </mat-form-field>
      <button mat-raised-button color="primary" class="full-width">Sign In</button>
      <p class="signup-text">Don't have an account? <a href="#">Sign Up Now</a></p>
    </mat-card>
  </div>

