.field-list-wrapper{
    border-right: 1px solid grey;
    padding: 20px !important;
    width: 20%;
    overflow: hidden;
    // border-radius: 5px;
}

.form-wrapper{
    // border: 1px solid grey;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
}