.wrapper-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.field-list-wrapper{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 20px;
    width: 20%;
    border-radius: 5px;
}

.form-wrapper{
    border: 1px solid grey;
    padding: 20px;
    width: 60%;
    border-radius: 5px;
}

.field-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.field-div{
    width: 32.5%;
}

.add-field{
    width: 49.3% !important;
}

.error-msg {
    margin: 0;
    line-height: 1.8;
    font-size: .8571428571rem;
    font-weight: var(--weight-light);
    color: var(--error);
    display: flex;
    align-items: center;
    margin-left: 3px;
}


.mt-3 {
    margin-top: 30px;
}

.form-btn-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.motif-row{
    margin-bottom: 1rem !important;
}

motif-radio-button-group{
    flex-direction: row !important;
}