.header-row{
    margin-top: 1rem !important;
   
}
.search-field{
    height: 4.5rem !important;
    width: 80% !important;
}
.search-align{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.search-btn{
    height: 3rem !important;
}
.mat-column-description{
    width: 30%;
    max-width: 30%;
}
.mat-column-productName{
    width: 15%;
}
.blank-btn{
    float: right !important;
    margin-top: 0.7rem !important;
}
.filter-box{
    margin-right: 10px;
}
.reset-btn{
    margin-bottom: 1rem !important;
}
.checkbox-list-heading{
    margin-bottom: 0;
    margin-top: 10px;
}