<mat-toolbar class="ribbon mb-1">
    <div class="hamburger-menu">
        <button mat-icon-button ><mat-icon>widgets</mat-icon></button>

    </div>
    <div class="templateName">
        <!-- <mat-chip>
            Dog one
            <button  aria-label="'remove ' + keyword">
                <mat-icon>edit</mat-icon>
              </button>
          </mat-chip> -->

    </div>
        <div class="ribbon-btn">
          <button mat-icon-button  matTooltip="Add Documents" class="doc-btn"  (click)="docUpload()">
          <mat-icon>upload_file</mat-icon>
        </button>
        <button mat-icon-button class="preview-btn"  matTooltip="Preview" >
          <mat-icon>
            visibility
          </mat-icon>

        </button>
        <button mat-icon-button class="share-btn"  matTooltip="Share">

            <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button class="submit-btn"  [matMenuTriggerFor]="submitMenu"  matTooltip="More">
            <mat-icon>more_vert</mat-icon>
        </button>

    </div>

    <mat-menu #submitMenu="matMenu">

        <button mat-menu-item (click)="saveDraft()">
          <span>Save as draft</span>
        </button>
        <button mat-menu-item (click)="deleteDraft()">
          <span>Delete draft</span>
        </button>
        <button *ngIf="stepper?.selectedIndex === stepper?.steps?.length -1" mat-menu-item (click)="submitProduct()">

          <span>Submit</span>
        </button>
        <button *ngIf="stepper?.selectedIndex === stepper?.steps?.length -1" mat-menu-item (click)="movetoirda()">

          <span>IRDA Submittion Details</span>
        </button>
        <button *ngIf="stepper?.selectedIndex === stepper?.steps?.length -1" mat-menu-item (click)="approvetoirda()">

          <span>IRDA Submittion Details</span>
        </button>
      </mat-menu>



	<!-- ------------------ -->


</mat-toolbar>
