.main-content{
    margin-left: 250px;
    padding: 20px;
}
.form-btn-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.wrapper-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.field-list-wrapper{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 20px;
    width: 20%;
    border-radius: 5px;
}

.form-wrapper{
    border: 1px solid grey;
    padding: 20px;
    width: 60%;
    border-radius: 5px;
}
.radio-bt-group{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.radio-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.custom-divider{
    height: 1px;
   // background-color: black;
    border-bottom: 1px solid black;
    margin: 20px 0;
    width: 100%;
}